.App{
  background-color: #1C1C1C;
  min-height: 100vh;
  color: #FFFFFF;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  font-size: 24px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  overflow-x:auto;
}

.heading-container{
  text-align: center;
  padding: 20px 0px;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}